########################
# Frontend ignore
########################

frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Frontend editor / OS
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea/
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
frontend/package-lock.json
frontend/package.json

########################
# Backend ignore
########################

backend/data/
backend/__pycache__
backend/Assembly/__pycache__
backend/Sub/__pycache__
backend/작업시간분석표DB.xlsx
backend/9B753100
backend/A4163100