.header-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  height: 68px;
  padding: 0 20px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 50px;
}

.header-center {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}
